:root{
    --main: #FF7A00;
    --secon: #A45214;
    --green: #30A700;
    --font-white: #EEEEEE;
    --font-black: #323232;
    --other-black: #11101D;
    --font-red: #DB4437;
    font-family: Inter;
    font-weight: 500;
    color: var(--font-black);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

main{
    width: 65%;
}

main header{
    width: 100%;
    margin-top: 26px;
}

#enderecos{
    display: flex;
    flex-wrap: wrap;
}

.endereco{
    border-left: 8px solid gray;
    background-color: #e4e4e4; 
    border-radius: 10px;
    padding: 10px;
    margin-right: 15px;
    flex-grow: 1;
    font-size: 14px;
    line-height: 14px !important;
    cursor: pointer;
}

.endereco h4{
    line-height: 20px;
}

.escolhido{
    background-color: #FFA14A45;
    border-left: 8px solid var(--main);
}

.endereco p, .endereco span{
    color: gray;
}

.endereco h4, .endereco p{
    line-height: 32px;
    margin: 0;
}

#metodos{
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 40px;
}

#metodos input::-webkit-outer-spin-button,
#metodos input::-webkit-inner-spin-button 
{-webkit-appearance: none;}
#metodos input[type=number]
{appearance: textfield; -moz-appearance: textfield;}

#add-cartao{margin-bottom: 15px;}
#add-cartao > summary {list-style: none; padding-bottom: 15px;}
#add-cartao h4{display: inline;}
form label h2{border-top: 1px solid grey; padding-top: 10px;}

#add-cartao i{
    rotate: 0deg;
    transition: rotate .2s;
    padding-right: 10px;
}

#add-cartao[open] i{
    rotate: 45deg;
    transition: rotate .2s;
}

#add-cartao input, #add-cartao select{
    margin: 5px 0!important;
    width: 24%;
    font-family: Inter;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#nome{flex: 1;}

.salvar-cartao{
    margin-left: 10px;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    flex: 1;
}

.card-nome{
    display: inline;
    border: none;
    padding: 0px 10px;
}

.cartao{
    display: inline;
}

.opcao{
    font-size: 14px;
}

.opcao i{
    margin: 0 10px;
}

input[type="radio"]{
    -ms-transform: scale(1.75); /* IE 9 */
    -webkit-transform: scale(1.75); /* Chrome, Safari, Opera */
    transform: scale(1.75);
    accent-color: #de6b00;
}
  
aside{
    width: 25%;
    border-radius: 20px;
}

aside h4{
    margin: 0;
}

#aside-main{
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    margin: 20px;
    padding: 20px;
}

.cupom{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

hr{
    height: 1px;
    background-color: var(--main);
    border: none;
    margin: 15px 0;
}

table{width: 100%;}
table tr td{padding: 10px 0;}
table tr td:last-child{text-align: end;}
table tr td:last-child::before{content: "R$";}

#total{
    font-size: 20px;
    text-align: center;
}

#total span::before{
    content: "R$";
}

#total span{
    font-weight: 600;
}

.big{
    margin: 15px auto 0 auto;
    display: block;
}

.small{
    flex-grow: 1;
    font-size: 12px !important;
    padding: 10px 7px !important;
    margin: 10px 0 0 0 !important;
}

input[type="text"]:not(#navinput){
    font-family: Inter;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px 0 0;
    border: 1px solid gray;
}