html, body{height: 100%; width: 100%; padding: 0; margin: 0; box-sizing: border-box;}

@font-face {
    font-family: Inter;
    src: url(../assets/Font/Inter-VariableFont_slnt\,wght.ttf);
}

:root{
    --main: #FF7A00;
    --green: #30A700;
    font-family: Inter;
    font-weight: 500;
}

nav{ 
    width: 100%;
    height: 12%;
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    font-size: .8em;
}

#simplenav nav{
    border-bottom: 8px solid black;
}

nav a{
    text-decoration: none;
    font-weight: 800;
    color: white;
}

nav img{
    height: 40px;
    filter: invert(1);
}

nav a:hover{
    text-decoration: underline;
}

.acc{
    display: flex;
    align-items: center;
}

.texto{
    margin-left: 10px;  
}

.navbar{
    height: 30px;
    width: 55%;
    padding: 10px 0px;
    position: relative;
    left: 12%;
}

.navbar input{
    height: 25px;
    width: 60%;
    z-index: -1;
    border: none;
    border-radius: 99px;
}

nav button{
    padding: 0;
    margin: 0;
    height: 30px;
    width: 7%;
    border-radius: 0 99px 99px 0;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav button:nth-child(2){
    background-color: #cccccc;
    border-radius: 99px;
    position: relative;
    right: 6%;
    z-index: 3;
}

nav button:nth-child(3){
    background-color: #bbbbbb;
    position: relative;
    right: 8.5%;
    z-index: 2;
}

nav button:nth-child(4){
    background-color: #aaaaaa;
    position: relative;
    right: 11.5%;
    z-index: 1;
}

nav button:nth-child(5){
    background-color: #999999;
    position: relative;
    right: 14.5%;
    z-index: 0;
}

nav button:hover{
    cursor: pointer;
    filter: brightness(80%);
    transition: filter .1s ease;
}

.blacknav{
    color: white;
    width: 100%;
    height: 30px;
    background: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blacknav div{
    display: inline;
    font-size: 1vw;
}

.blacknav div:hover{
    cursor: pointer;
}

