html, body{height: 100%; width: 100%; padding: 0; margin: 0; box-sizing: border-box;}

@font-face {
    font-family: Inter;
    src: url(../assets/Font/Inter-VariableFont_slnt\,wght.ttf);
}

:root{
    --main: #FF7A00;
    --green: #30A700;
    font-family: Inter;
    font-weight: 500;
}

nav{ 
    width: 100%;
    height: 12%;
    background-color: var(--main);
    border-bottom: 8px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: .8em;
}

nav a{
    text-decoration: none;
    font-weight: 800;
    color: white;
}

nav img{
    height: 40px;
    filter: invert(1);
}

nav a:hover{
    text-decoration: underline;
}

.acc{
    display: flex;
    align-items: center;
}

.texto{
    margin-left: 10px;  
}

.navbar{
    height: 25px;
    z-index: 10;
    width: 30%;
    overflow: hidden;
}

.navbar input{
    height: 20px;
    width: 35%;
    z-index: -1;
    border: none;
}

nav button{
    padding: 0;
    margin: 0;
    height: 25px;
    width: 15%;
    border-radius: 0 99px 99px 0;
    border: none;
    box-shadow: 1px 5px 10px black;
}

nav button:nth-child(2){
    z-index: 3;
    border-radius: 99px;
    position: relative;
    right: 5%;
}

nav button:nth-child(3){
    background-color: rgb(153, 153, 153);
    z-index: 2;
    position: relative;
    right: 9%;
}

nav button:nth-child(4){
    background-color: grey;
    z-index: 1;
    position: relative;
    right: 13%;
}

nav button:nth-child(5){
    z-index: 0;
    position: relative;
    right: 17%;
}