:root{
    --main: #FF7A00;
    --secon: #A45214;
    --green: #30A700;
    --font-white: #EEEEEE;
    --font-black: #323232;
    --other-black: #11101D;
    --font-red: #DB4437;
    font-family: Inter;
    font-weight: 500;
    color: var(--font-black);
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px;
    margin: 30px 0 50px 0;
}

main{
    width: 80%;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-evenly;
    gap: 50px 10px;
}

select{
    font-family: Inter;
    border: none;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
    outline: 0;
}

select:focus{
    border: 1px solid var(--main);
}

header{
    display: flex;
    margin: 0 !important;
    justify-content: space-between;
}

.ordenar p{
display: inline-block;
padding: 0px 5px;
}

.card{
    padding-top: 20px;
    width: 300px;
    height: 400px !important;
}

aside{
    width: 15%;
    padding: 20px;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.25);
}

.filtroheader h4{
    font-size: 20px;
    margin: 0 10px;
    display: inline;
}

.extensao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.extensao h4{
    width: 100%;
    margin: 10px 0;
}

.minimo, .maximo{
    display: flex;
    padding: 5px;
    border: 1px solid gray;
    width: 37%;
    border-radius: 10px;
}

input[type=number]{
    -moz-appearance: textfield;
    width: 80%;
    border: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label{
    display: inline-block;
    width: 100%;
    padding: 2px 0;
}

input[type=checkbox]{
    accent-color: var(--main);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
}

form{
    margin-bottom: 20px;
}

form label, input[type=checkbox]{
    cursor: pointer;
}

form a{
    color: var(--main);
    font-size: 12px;
}

form h4{
    margin: 10px 0;
}

form hr{
    margin: 20px 0 !important;
}

form a:last-child{
    margin-bottom: 10px;
}

.final{
    width: 100%;
    display: flex;
    justify-content: center;
}

.final span{
    margin: 20px 10px;
    padding: 5px;
    cursor: pointer;
}