html, body{
    height: auto;
}

:root{
    --main: #FF7A00;
    --secon: #A45214;
    --green: #30A700;
    --font-white: #EEEEEE;
    --font-black: #323232;
    --other-black: #11101D;
    --font-red: #DB4437;
    font-family: Inter;
    font-weight: 500;
    color: var(--font-black);
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main{
    width: 80%;
    padding: 30px 30px 0 3%;
    display: flex;
    flex-wrap: wrap;
}

.linha{
    display: flex;
    width: 100%;
}

.produtoimagens{
    display: flex;
    align-items: center;
    height: 100%;
    width: 35%;
}

.secundarias{
    display: flex;
    width: 25%;
    height: 100%;
    flex-wrap: wrap;
    gap: 5px;
}

.secundarias img{
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.primaria{
    display: flex;
    width: 85%;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.primaria img{
    width: 100%;
    padding-left: 10px;
    border-radius: 10px;
}

.produtoinfo{
    width: 65%;
    padding-left: 20px;
    height: fit-content;
}

.produtoinfo h2{
    margin: 0;
}

.produtoinfo p{
    margin: 0;
}

.contador{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 5px;
}

input[type="number"], input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    appearance: none;
    text-align: center;
}

.contador *{
    border: none;
    outline: none;
    background-color: white;
}

.cep{
    height: fit-content;
    width: 35%;
}

.cep p{
    margin: 15px 0 0 0;
}

.cep input{
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    height: 30px;
    margin: 10px 0;
}

.cep button{
    border: 1px solid var(--main);
    height: 30px;
    color: var(--main);
}

.comprar{
    width: 65%;
}

.comprar button{
    color: white;
    background-color: var(--green);
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0px 50px;
    margin: 10px 0 0 10px;
}

.comprar h2{
    padding-left: 10px;
}

.similares{
    margin: 30px 0 0 0 ;
    width: 100%;
}

.headerconteudo{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    width: 100% !important;
}

details{
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
}

details summary{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

details summary header{
    margin: 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

details summary header .marker{
    color: var(--main);
    margin-right: 15px;
}

details summary header .marker::after{
    content: "▲";
}

.conteudo{
    display: flex;
    text-align: justify;
    width: 100%;
    height: 80%;
}

.conteudo h2{
    width: 100%;
    height: fit-content;
}

.conteudotexto{
    flex-grow: 2;
    width: 65%;
    padding: 0 10px 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.conteudoimagem{
    height: 100%;
    flex-grow: 1;
    padding: 15px;
    height: 100%;
    width:30%;
    display: flex;
    justify-content: center;
}

.conteudoimagem img{
    width: 80%;
}

table{
    margin: 10px 0;
    border-collapse: collapse;
}

td{
    padding: 6px;
    border-top: 1px solid grey;
}

tr:last-child td{
    border-bottom: 1px solid grey;
}

table tr td:nth-child(1){
    background-color: #DDDDDD;
}

.filtro{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filtro h4{
    width: 100%;
    text-align: center;
    margin: 20px;
}

.estrelas{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.estrelas i{
    padding: 0 2px;
}

#notatexto{
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 10px;
    color: grey;
}

.ghost{
    width: 100%;
}

.mainstar{
    font-size: 75px;
    color: #ffcd6b;
}

.pergunta{
    margin: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pergunta p:nth-child(2){
    width: 80%;
    font-weight: 600;
}

.pergunta p:nth-child(3){
    width: 80%;
    margin: 5px 0;
    text-indent: 20px;
}

.pergunta img{
    margin: 0 20px 0 0;
    border: 2px solid var(--main);
    border-radius: 9999px;
    height: 40px;
    width: 40px;
}

.dataresposta{
    font-size: 12px;
    filter: opacity(0.8);
}

.perguntar{
    border-radius: 10px;
    border: 3px solid var(--main);
    padding: 15px 75px;
    font-weight: 600;
    font-family: Inter;
    box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.25);
    margin: 0 10px;
    float: right;
}

aside{
    width: 15%;
    background-color: gray;
}

#decremento, #incremento, #qtd{
    font-size: 18px;
}