:root{
    --main: #FF7A00;
    --secon: #A45214;
    --green: #30A700;
    --font-white: #EEEEEE;
    --font-black: #323232;
    --other-black: #11101D;
    --font-red: #DB4437;
    font-family: Inter;
    font-weight: 500;
    color: var(--font-black);
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main{
    width: 80%;
    padding: 30px 30px 0 3%;
    display: flex;
}

.produtoimagens{
    height: 7%;
    display: flex;
}

.secundarias{
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 10px;
}

.secundaria{
    height: 19%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 5px;
}

.secundaria img{
    height: 100%;
}

.principal{
    height: 100%;
    position: relative; /*para o icon não bugar*/
}

.principal img{
    height: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.principal i{
    position: absolute;
    left: 255px;
    top: 265px;
}

.produtoinfo{
    width: 50%;
    padding-left: 20px;
}

.produtoinfo h2{
    margin: 0;
}

.produtoinfo p{
    margin: 0;
}

.contador{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 5px;
}

input[type="number"], input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    appearance: none;
    text-align: center;
}

.contador *{
    border: none;
    outline: none;
    background-color: white;
}

aside{
    width: 20%;
    background-color: gray;
}

#decremento, #incremento, #qtd{
    font-size: 18px;
}