html, body{
    height: auto;
}

:root{
    --main: #FF7A00;
    --secon: #A45214;
    --green: #30A700;
    --font-white: #EEEEEE;
    --font-black: #323232;
    --other-black: #11101D;
    --font-red: #DB4437;
    font-family: Inter;
    font-weight: 500;
    color: var(--font-black);
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main{
    width: 80%;
    padding: 30px 30px 0 3%;
    display: flex;
    flex-wrap: wrap;
}

.linha{
    display: flex;
    width: 100%;
}

.produtoimagens{
    display: flex;
    align-items: center;
    height: 100%;
    width: 35%;
}

.secundarias{
    display: flex;
    width: 25%;
    height: 100%;
    flex-wrap: wrap;
    gap: 5px;
}

.secundarias img{
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.primaria{
    display: flex;
    width: 85%;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.primaria img{
    width: 100%;
    padding-left: 10px;
    border-radius: 10px;
}

.produtoinfo{
    width: 65%;
    padding-left: 20px;
    height: fit-content;
}

.produtoinfo h2{
    margin: 0;
}

.produtoinfo p{
    margin: 0;
}

.contador{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 5px;
}

input[type="number"], input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    appearance: none;
    text-align: center;
}

.contador *{
    border: none;
    outline: none;
    background-color: white;
}

.cep{
    height: fit-content;
    width: 35%;
}

.cep p{
    margin: 15px 0 0 0;
}

.cep input{
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    height: 30px;
    margin: 10px 0;
}

.cep button{
    border: 1px solid var(--main);
    height: 30px;
    color: var(--main);
}

.comprar{
    width: 65%;
}

.comprar button{
    color: white;
    background-color: var(--green);
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0px 50px;
    margin: 10px 0 0 10px;
}

.comprar h2{
    padding-left: 10px;
}

.similares{
    margin: 30px 0 0 0;
    width: 100%;
}

.descricao{
    width: 100%;
}

details summary{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

details summary header .marker{
    color: var(--main);
    position: relative;
    left: 60%;
}

details summary header .marker::after{
    content: "▲";
}

details[open] summary header .marker::after{
    content: "▼";
}

aside{
    width: 15%;
    background-color: gray;
}

#decremento, #incremento, #qtd{
    font-size: 18px;
}