
:root{
    --main: #FF7A00;
    --green: #30A700;
    font-family: Inter;
    font-weight: 500;
}

.criarconta{
    margin: 50px;
    width: 80%;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.criarconta h3{
    color: var(--main);
}



