html, body{height: 100%; width: 100%; padding: 0; margin: 0; box-sizing: border-box;}

:root{
    --main: #FF7A00;
    --green: #30A700;
    --font-white: #EEEEEE;
    --font-black: #323232;
    font-family: Inter;
    font-weight: 500;
    color: var(--font-black);
}

h3{
    color: var(--main);
    font-size: 1.3em;
}

fieldset{
    border-radius: 15px;
    width: 55%;
    height: 30px;
    margin: 5px 0 5px;
    font-family: Inter;
    font-weight: 350;
    color: black;
    border: 1px solid rgb(75, 75, 75);
}

input{
    border: none;
    outline: none;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 5px;
    font-family: Inter;
}

.cadastrar { 
    margin: 20px 0px 20px 0px;
    font-family: Inter;
    font-weight: 400;
    color: #777777;
    display: flex;
    justify-content: center;
    margin: 5px 0px 0px 0px;
}

.cadastrar a{
    font-family: Inter;
    font-weight: 400;
    text-decoration-line: underline;
    display: inline;
    color: var(--main) !important;
}

hr{
    width: 57%;
}

.linha_1{
    display: flex;
    justify-content: center;
}

.linha_2{
    display: flex;
    justify-content: center;
}


button{
    width: 25%;
    height: 40px;
    border-radius: 9px;
    border: none;
    margin: 0px 3.5% 20px 3%;
    padding: 0;
}

.botao:active{
    transition: transform .07s ease;
    transform: scale(1.05);
}

.botao{
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.facebook{
    background: #3B5998;
    color: #3B5998;;
}

.google{
    background: #DB4437;
    color: #DB4437;
}

.gov_br{
    background: #48AD45;
    color: #48AD45;
}

.interno{
    background-color: white;
    height: 30px;
    border-radius: 6px;
    margin: 0 2px 7px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img_gov{
    width: 55px;
}

.submit{
    color: var(--font-white);
    background-color: var(--main);
    border: none;
    height: 38px;
    width: 59%;
    border-radius: 15px;
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0 10px;
    justify-content: center;   
}

.space{
    width: 40px;
}

.fa-eye{
    position: relative;
    bottom: 25px;
    left: 95%;
}

.fazer_login{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fazer_login a{
    text-decoration: none;
    font-weight: 400;
    font-family: Inter;
    text-decoration-line: underline;
    color: #8d8b8b;
    display: flex;
}

.esqueceu{
    display: flex;
    justify-content: right;
    padding-right: 21.5%;
    margin: 0px 0px 20px 0px;
}

.fazer_login p{
    font-family: Inter;
    font-weight: 700;
    line-height: 20px;
    color: #777777;
    display: flex;
    justify-content: center;
    margin: 15px 0px 15px 0px;
}

.conteudo{
    width: 45%;
} 

form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img{
    width: 46.5%;
    display: flex;
    justify-content: center;
}

.img img{
    width: 90%;
}

.title{
    width: 45%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left:3.4%;
}

.submit:hover{
    cursor: pointer;
    filter: brightness(110%);
    transition: filter .2s ease;
}

.submit:active{
    filter: brightness(120%);
    transition: filter .2s ease;
}

